.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: clamp(0.5rem, 0.875rem, 1.5rem);;
    cursor: pointer;
    border: none;
    transition: var(--transition-smooth);
    text-align: center;
}

.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

@media (min-width: 640px) {
    .btn-group { flex-direction: row; }
}

/* Variantes */
.btn-cta {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    box-shadow: 0 10px 15px -3px rgba(246, 128, 59, 0.2);
}
.btn-cta:hover { background-color: var(--color-primary-dark); }

.btn-primary {
    background-color: var(--color-text-light);
    color: #09090b;
    padding: 1rem 2rem;
    border-radius: 0.75rem;
    font-size: clamp(0.875rem, 1rem, 1.5rem);;
}
.btn-primary:hover { background-color: var(--color-text-light); }

.btn-secondary {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--color-text-light);
    padding: 1rem 2rem;
    border-radius: 0.75rem;
    font-size: clamp(0.875rem, 1rem, 1.5rem);
}
.btn-secondary:hover { background-color: var(--color-bg-dark); }

.btn-login {
    font-size: clamp(0.5rem, 0.875rem, 1.5rem);;
    font-weight: 500;
    color: var(--color-text-light);
}
.btn-login:hover { color: var(--color-text-light); }